body {
  width: 400px;
}

div {
  border: thin solid red;
}

.diff {
  border: thin solid silver;
  padding: 10px;
  .start,
  .end {
    background-color: white;
  }
  .strike {
    background-color: #920b0b;
    text-decoration: line-through;
  }
  .ins {
    background-color: chartreuse;
  }
}
