@import 'spinner';
$textColor: #24292e;

body {
  width: 400px;
}

.container {
  .content {
    .spinner-box {
      display: flex;
      justify-content: center;
    }
    #suggestions {
      article {
        border-bottom: 2px solid lighten($textColor, 70%);
        margin: 2px;
        padding: 2px;
      }
    }
  }
  & .ready .spinner {
    display: none;
  }
}

div.note {
  border: thin solid $textColor;
  padding: 0.5rem 1rem;
  margin: 1rem 0.2rem;
}

.diff {
  border: 1px solid silver;
  padding: 4px;
  background-color: lighten($textColor, 80%);
  color: $textColor;
  .start,
  .end {
    background-color: white;
  }
  .strike {
    background-color: #fdb8c0;
    text-decoration: line-through;
  }
  .ins {
    background-color: #acf2bd;
  }
}

footer {
  border-top: thin solid $textColor;
  margin-top: 1rem;
  font-size: smaller;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    display: inline-block;
  }
}
