@import 'spinner';
$textColor: #24292e;

body {
  width: 400px;
}

#suggestions {
  article {
    border-bottom: 2px solid lighten($textColor, 70%);
    margin: 2px;
    padding: 2px;
  }
}

div {
  border: thin solid red;
}

.diff {
  border: thin solid silver;
  padding: 4px;
  background-color: lighten($textColor, 70%);
  color: $textColor;
  .start,
  .end {
    background-color: white;
  }
  .strike {
    background-color: #fdb8c0;
    text-decoration: line-through;
  }
  .ins {
    background-color: #acf2bd;
  }
}

footer {
  border-top: thin solid $textColor;
  margin-top: 1rem;
  font-size: smaller;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    display: inline-block;
  }
}
