@import 'spinner';
@import 'colors';

body {
  width: 400px;
}

.container {
  .content {
    .spinner-box {
      display: flex;
      justify-content: center;
    }
    #suggestions {
      article {
        margin: 0.5rem 0;
        padding: 0.5rem;
        box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 255, 0.2);
        h1 {
          margin: 2px 0;
          padding: 0.2rem;
          border-left: 20px solid lighten($blue2, 30%);
        }
        section {
          display: flex;
          .diffc {
            width: 80%;
          }
          .info {
            font-size: 0.8rem;
            background-color: white;
            padding: 0.5rem;
            p {
              padding: 0;
              margin: 0;
            }
          }
        }
      }
    }
    #none {
      display: none;
    }
    &.none #none {
      display: block;
      background: lighten(silver, 20%);
      padding: 1rem 0.5rem;
    }
  }
  & .ready .spinner {
    display: none;
  }
}

div.note {
  border: thin solid $textColor;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.diff {
  border: 1px solid silver;
  padding: 4px;
  background-color: lighten($textColor, 80%);
  color: $textColor;
  .start,
  .end {
    background-color: white;
  }
  .strike {
    background-color: #fdb8c0;
    text-decoration: line-through;
  }
  .ins {
    background-color: #acf2bd;
  }
}

footer {
  border-top: thin solid $textColor;
  margin-top: 1rem;
  font-size: smaller;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  a {
    display: inline-block;
  }
  p {
    margin: 0 0.5rem;
  }
}
